*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body {
	margin: 0 auto;
	font-family: 'Droid Sans', sans-serif;
}
header {
	height: 330px;
	width: 100%;
	text-align: center;
	padding: 25px 15px;
}
header h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 10px;
	color: #89B0AE;
}
header h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 18px;
	margin-top: 0;
	font-weight: 400;
	color: #555B6E;
}
header hr {
	margin: 35px auto 25px;
	width: 50px;
	border: 0;
	height: 1px;
	background: #FFD6BA;
}
header .github-button {
	display: inline-block;
	border-radius: 4px;
	padding: 15px 25px;
	color: #555B6E;
	background: #BEE3DB;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
header .github-button:hover {
	background: #89B0AE;
	color: #FAF9F9;
}
footer {
	padding: 5px 15px;
	background: #89B0AE;
	color: #FAF9F9;
	width: 100%;
	text-align: center;
}
footer a {color: #555B6E;}
footer a:hover {color: #FFD6BA;}
footer {padding: 30px 15px;}
aside {}
aside nav ul {
	display: flex;
	flex-flow: column wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	background: #ffffff;
}
aside nav ul li + li {border-top: 1px solid #eeeeee;}
aside nav ul li a {
	display: block;
	padding: 15px;
	color: #333333;
	text-decoration: none;
}
aside nav ul li a:hover {
	background: #444444;
	color: #eeeeee;
}
main {
	padding: 10px;
	width: 100%;
	background: #555B6E;
}
section {
	background: #FAF9F9;
	margin-bottom: 40px;
	border-top: 6px solid #E5C0A7;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}
section, article {padding: 20px;}
section h2,
article h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #555B6E;
}
section p,
article p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	color: #555B6E;
}
section ul,
article ul {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	color: #555B6E;
}
section a,
article a {
	color: #89B0AE;
}
section a:hover,
article a:hover {
	color: #BEE3DB;
}
section .row {
	margin: 10px 0;
	border-radius: 3px;
	overflow: hidden;
}
section .row div {
	background: #FFD6BA;
	border: 1px solid #E5C0A7;
	padding: 15px;
	text-align: center;

	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	color: #A58A78;
}
section .row img {max-width: 100%;}
section .row.noborder div {
	border: 0;
	padding: 5px;
	background: transparent;
}
section .row.noborder .row {
	background: #cccccc;
	padding: 15px;
}

/* Large screens */
@media (min-width: 48em) {
  .container {
  	width: 100%;
  	max-width: 960px;
  	margin: 0 auto;
  }
  main {
	padding: 30px;
	width: 100%;
  }
  section, article {padding: 30px;}
}